# Baseball Analysis
##### By: Praneetha Potiny

##### The data in this analysis was taken from http://www.seanlahman.com/baseball-archive/statistics/

In [1]:
# Let's start by importing all the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### My first question concerning this dataset is:
### 1) What possible factors are strongly correlated with receiving more votes for awards?

##### (I will be looking for correlations of at least <u>0.7</u> based on https://www.andrews.edu/~calkins/math/edrm611/edrm05.htm)

#### Since the number of votes received alread describes who won the award, I decided to only use the AwardsShareManagers and AwardsSharePlayers datasets for analysis.

In [2]:
# Manager awards and player awards probably have different correlating factors, so let's analyze them separately.

manager_awards = pd.read_csv('baseball/AwardsShareManagers.csv')
player_awards = pd.read_csv('baseball/AwardsSharePlayers.csv')

print "First 5 rows of Manager Award Points Data...\n"
print manager_awards.head()
print "\nFirst 5 rows of Player Award Points Data...\n"
print player_awards.head()

First 5 rows of Manager Award Points Data...

           awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Mgr of the year    1983   AL  altobjo01          7         28           7
1  Mgr of the year    1983   AL    coxbo01          4         28           4
2  Mgr of the year    1983   AL  larusto01         17         28          17
3  Mgr of the year    1983   NL  lasorto01         10         24          10
4  Mgr of the year    1983   NL  lillibo01          9         24           9

First 5 rows of Player Award Points Data...

    awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Cy Young    1956   ML   fordwh01        1.0         16         1.0
1  Cy Young    1956   ML  maglisa01        4.0         16         4.0
2  Cy Young    1956   ML  newcodo01       10.0         16        10.0
3  Cy Young    1956   ML  spahnwa01        1.0         16         1.0
4  Cy Young    1957   ML  donovdi01        1.0         16         1.0

#### After looking at https://en.wikipedia.org/wiki/Major_League_Baseball_Manager_of_the_Year_Award, it looks like the final award score is calculated along with first-place votes. "pointsWon" is most likely this score since there are no other point columns other than "votesFirst". Either way, it gives us a score that shows the candidate popularity better.

#### However, it seems like the maximum voting points varies across each league and year. Therefore, I will address the above quesion by using the ratio of  "pointsWon" / "pointsMax"</p>

In [3]:
# Let's check to see if pointsWon is always greater than votesFirst

print "The number of instances where votesFirst is greater than pointsWon"
print " - For managers: ", len(manager_awards.loc[manager_awards["votesFirst"] > manager_awards["pointsWon"]])
print " - For players: ", len(player_awards.loc[player_awards["votesFirst"] > player_awards["pointsWon"]])

The number of instances where votesFirst is greater than pointsWon
 - For managers:  0
 - For players:  1

### After checking this one instance, there does not seem to be a significant difference. Therefore, we will keep the data as is.
### Here are some plausible factors: 
My friend, an avid baseball fan, suggested some of the following factors for me:
<li>For Managers: Number of Wins, Number of games managed, trades (cannot be calculated) </li>
<li> For Players: Batters can be measured by base percentage or batting average. Pitchers can be measured by Earned Run Average (ERA) and win-loss ratio. </li>

In [5]:
# Let's get the awards data columns we want first

manager_awards['award_ratio'] = manager_awards['pointsWon']/manager_awards['pointsMax']
player_awards['award_ratio'] = player_awards['pointsWon']/player_awards['pointsMax']

manager_awards = manager_awards[['yearID', 'lgID', 'playerID', 'award_ratio']]
player_awards = player_awards[['yearID', 'lgID', 'playerID', 'award_ratio']]

manager_awards = manager_awards.sort_values(by='award_ratio', ascending=False).groupby(by=['yearID', 'lgID'], as_index=False).first()
player_awards = player_awards.sort_values(by='award_ratio', ascending=False).groupby(by=['yearID', 'lgID'], as_index=False).first()

print "First 5 rows of New Manager Data...\n"
print manager_awards.head()
print "\nFirst 5 rows of New Player Data...\n"
print player_awards.head()

First 5 rows of New Manager Data...

   yearID lgID   playerID  award_ratio
0    1983   AL  larusto01     0.607143
1    1983   NL  lasorto01     0.416667
2    1984   AL  andersp01     0.685714
3    1984   NL   freyji99     0.841667
4    1985   AL    coxbo01     0.742857

First 5 rows of New Player Data...

     yearID lgID   playerID  award_ratio
20     1929   NL  hornsro01     0.750000
21     1931   AL  grovele01     0.975000
22     1931   NL  friscfr01     0.812500
23     1932   AL   foxxji01     0.937500
24     1932   NL  kleinch01     0.975000
25     1933   AL   foxxji01     0.925000
26     1933   NL  hubbeca01     0.962500
27     1934   AL  cochrmi01     0.837500
28     1934   NL   deandi01     0.975000
29     1935   AL  greenha01     1.000000
30     1935   NL  hartnga01     0.937500
31     1936   AL  gehrilo01     0.912500
32     1936   NL  hubbeca01     0.750000
33     1937   AL  gehrich01     0.975000
34     1937   NL  medwijo01     0.875000
35     1938   AL   foxxji01     0.907738
36     1938   NL  lombaer01     0.681548
37     1939   AL  dimagjo01     0.833333
38     1939   NL  waltebu01     0.901786
39     1940   AL  greenha01     0.869048
40     1940   NL  mccorfr01     0.815476
41     1941   AL  dimagjo01     0.866071
42     1941   NL  camildo01     0.892857
43     1942   AL  gordojo01     0.803571
44     1942   NL  coopemo01     0.782738
45     1943   AL  chandsp01     0.732143
46     1943   NL  musiast01     0.794643
47     1944   AL  newhoha01     0.702381
48     1944   NL  marioma01     0.565476
49     1945   AL  newhoha01     0.702381
..      ...  ...        ...          ...
172    2000   AL  martipe02     1.000000
173    2000   NL  furcara01     0.900000
174    2001   AL  suzukic01     0.985714
175    2001   NL  pujolal01     1.000000
176    2002   AL  tejadmi01     0.908163
177    2002   NL  johnsra05     1.000000
178    2003   AL  hallaro01     0.971429
179    2003   NL  bondsba01     0.950893
180    2004   AL  santajo01     1.000000
181    2004   NL    bayja01     0.912500
182    2005   AL  rodrial01     0.844388
183    2005   NL  pujolal01     0.843750
184    2006   AL  santajo01     1.000000
185    2006   NL  howarry01     0.866071
186    2007   AL  rodrial01     0.974490
187    2007   NL  peavyja01     1.000000
188    2008   AL  longoev01     1.000000
189    2008   NL   sotoge01     0.987500
190    2009   AL  mauerjo01     0.987245
191    2009   NL  pujolal01     1.000000
192    2010   AL  hamiljo03     0.913265
193    2010   NL  hallaro01     1.000000
194    2011   AL  verlaju01     1.000000
195    2011   NL  kimbrcr01     1.000000
196    2012   AL  troutmi01     1.000000
197    2012   NL  poseybu01     0.941964
198    2013   AL  scherma01     0.966667
199    2013   NL  kershcl01     0.985714
200    2014   AL  troutmi01     1.000000
201    2014   NL  kershcl01     1.000000

[182 rows x 4 columns]

In [6]:
# Let's analyze the player statistics, starting with batters.
# Base percentage =  (hits + walks + hit by pitch) / (at bats + walks + hit by pitch + sacrifice flies)
# Batting average = (1 base hits + (2 x 2 base hits) + (3 x 3 base hits) + (4 x home runs)) / at bats.

bd = pd.read_csv('baseball/Batting.csv')
bd = bd.fillna(0)

bd['base%'] = (bd['H'] + bd['IBB'] + bd['HBP']) / (bd['AB'] + bd['IBB'] + bd['HBP'] + bd['SF'])
bd['batting_avg'] = (bd['H'] + 2*bd['2B'] + 3*bd['3B'] + 4*bd['HR'])/bd['AB']

bd.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,base%,batting_avg
0,abercda01,1871,1,TRO,0,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,addybo01,1871,1,RC1,0,25,118.0,30.0,32.0,6.0,...,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.271186,0.372881
2,allisar01,1871,1,CL1,0,29,137.0,28.0,40.0,4.0,...,1.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.291971,0.459854
3,allisdo01,1871,1,WS3,0,27,133.0,28.0,44.0,10.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.330827,0.586466
4,ansonca01,1871,1,RC1,0,25,120.0,29.0,39.0,11.0,...,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.325000,0.583333

In [10]:
# Now let's put the batting data and awards data into a single dataframe to analyze

bd = bd[['playerID', 'yearID', 'teamID', 'base%', 'batting_avg']]

batting_awards = pd.merge(player_awards, bd, on=['playerID', 'yearID'])
batting_awards.head()

   yearID lgID   playerID  award_ratio teamID     base%  batting_avg
0    1911   AL   cobbty01     1.000000    DET  0.427379     0.754653
1    1911   NL  schulfr01     0.453125    CHN  0.303448     0.658579
2    1912   AL  speaktr01     0.921875    BOS  0.389078     0.696552
3    1912   NL  doylela01     0.750000    NY1  0.332143     0.562724
4    1913   AL  johnswa01     0.843750    WS1  0.266667     0.529851